<div class="container">

  <div class="row" style="margin: 2em">
    <!-- User List-->

    <div class="col-sm-6">
    <div class="card">
        <div class="card-header">User List
          <button (click)="openUserFormModal()" type="button" class="btn-sm btn-success float-right">Add</button>
        </div>

        <div class="table-responsive-lg" style="margin: 0.5em">
          <table class="card-table table-bordered table-hover" style="width: 100%;">
            <thead>
              <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td><button (click)="userDetail(user)">{{user.userId}}</button></td>
                <td>{{user.name}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td><button (click)="deleteUser(user.id)">X</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- User Detail-->
    <div class="col-sm-6">
      <div>
        <div class="card">
          <div class="card-header">User Details
            <button (click)="saveUser(currentUser)" type="button" class="btn-sm btn-success float-right">Save</button>
          </div>
          <div class="card-body">

            <div class="card">
              <div class="card-header">Courses
              </div>
              <div class="card-body">
                <ol>
                  <li *ngFor="let courseCheckBox of courses">
                    {{courseCheckBox.course.name}}
                    <input type="checkbox" [(ngModel)]="courseCheckBox.hasUser">
                  </li>
                </ol>
              </div>
            </div>
            <form>
              <div class="form-group">
                <label for="pwd">Name</label>
                <input [(ngModel)]="currentUser.name" class="form-control" id="pwd" name="name">
              </div>

              <div class="form-group">
                <label for="lastName">Last Name</label>
                <input [(ngModel)]="currentUser.lastName" class="form-control" id="lastName" name="lastName">
              </div>

              <div class="form-group">
                <label for="email">Email address:</label>
                <input [(ngModel)]="currentUser.email" type="email" class="form-control" id="email" name="email">
              </div>

              <div class="form-group">
                <label for="phone">Phone</label>
                <input [(ngModel)]="currentUser.phone" class="form-control" id="phone" name="phone">
              </div>

              <div class="form-group">
                <label for="address">Address</label>
                <input [(ngModel)]="currentUser.address" class="form-control" id="address" name="address">
              </div>
            </form>
          </div>


        </div>
      </div>
    </div>
  </div>
